<html>
  <head></head>
  <body>
    <ul>
      <% grouped_files do |name, merge_files| %>
        <li><%= name %></li>
        <ul>
          <% merge_files.each do |file| %>
            <li><%= file %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
    <form method="POST" action="/process">
      <input type="submit" value="Start Processing" />
    </form>
  </body>
</html>
